*{
	margin: 0;
	padding: 0;
}
body{
	margin: 5px 3%;
	border: 1px solid grey;
}
/*header start*/
header{

}
.wrapper {
	overflow: hidden;
	/*border: 1px solid red;*/
	padding: 20px 1%;
}

.logo {
	overflow: hidden;
	width: 35%;
	/*border: 1px solid red;*/
	float: left;
}
.logo img {
	float: left;
	width: 20%;
}
.logo h1 {
	float: left;
	width: 70%;
	font-size: 30px;
	margin: 12px 5px;
}
.menu {
	width: 59%;
	/*border: 1px solid red;*/
	float: right;
}
.menu ul {
	float: right;

}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
	font-size: 15px;
	padding: 22px 10px;
	display: block;
	/*transition: 0.5s;*/
}
.menu ul li a:hover {
	color: skyblue;
}
/*header end*/
/*banner start*/
.banner {
	background-image: url(../img/mydreamhome.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover; 
	-moz-background-size: cover;
	background-position: top;
}

.b_content {
	background-color: rgba(0, 0, 0, 0.4);
	font-family: sans-serif;
	width: 35%;
	/*border: 2px solid yellow;*/
	margin-top: 70px;
	margin-bottom: 200px;
	padding-left: 1.5%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.b_content h1 {
	font-weight: 100;
	font-size: 32px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 5px;
}
.b_content h2 {
	font-weight: 100;
	font-size: 32px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 5px;
}
.b_content p {
	font-weight: 100;
	font-size: 16px;
	line-height: 20px;
	word-spacing: 5px;
	letter-spacing: 1px;
	color: white;
}
.b_content button {
	font-weight: 100;
	font-size: 14px;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 13px 25px;
	border: none;
	border-radius: 4px;
	transition: 0.5s;
	margin-top: 30px;
}
.b_content button:hover{
	color: skyblue;
}
/*banner end*/
/*service start*/
.service {
}
.container {
	width: 98%;
	/*border: 2px solid blue;*/
	margin: 50px auto;
}
.single {
	width: 30%;
	/*border: 2px solid red;*/
	float: left;
	padding: 0 1.6%;
}
.single:last-child {
	border-right: 0;
}
.single h1 {
	font-weight: 100;
	font-size: 20px;
	text-align: center;
	color: #9C9091;
	margin-bottom: 5px;
}
.single img {
	width: 100%;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.single p {
	font-weight: 100;
	font-size: 16px;
	text-align: center;
	color: black;
	margin-top: 40px;
}
.single button {
	font-weight: 100;
	font-size: 14px;
	color: white;
	background-color: #405A7B;
	padding: 13px 25px;
	border: none;
	border-radius: 5px;
	transition: 0.5s;
	margin-top: 50px;
	margin-left: 33%;
	margin-right: 33%;
}
.single button:hover {
	color: skyblue;
}
/*service end*/
/*footer start*/

.f_wrapper{
	width: 35%;
	margin: 0 auto;
	padding-top: 20px;
}
.f_wrapper p {
	font-weight: 700;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
	margin-bottom: 15px;
	color: #B1BBC0;
	margin-top: 40px;
}
.f_wrapper img {
	width: 50%;
	padding-bottom: 20px;
}


/*footer end*/